extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Juan Herrera

        p Full Stack JavaScript Developer


        .about-bio

          p I'm a Full Stack JavaScript Techdegree Student at Team Treehouse. Through my educational experience I've refined my analytical and problem-solving skills. I've also gained experience using web technologies such as  JavaScript, Node.js, HTML5, CSS and more. And completed projects such as creating a browser-based word guessing game as well as developing good looking web aplications using HTML, CSS and JavaScript where I use different functionalities to practice the intricasies of Web Development. My goal is to pursue a role as a Web Developer to apply my technical knowledge to real problems. What type of developers do well in your organization? 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Linux

        h6 Contact Info

        ul
          li 786-372-1371
          li nitsugahw001@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/juan-herrerawal/' target= '_blank') LinkedIn
        a.btn-link(href='https://github.com/HerrWal/' target='_blank') GitHub
        a.btn-link(href='https://twitter.com/Nitsuga_Walwyn' target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back