extends layout.pug

block content

  article.portfolio-intro

    h1 Let's make the Web even greater!

    p Welcome to my portfolio website! It is a place where I showcase the list of proyects I've built to potential employers. Feel free to check them out and don't hesitate to contact me if you agree they are super awesome.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5= project.project_name