<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/Profile_Picture.jpg', alt='Profile picture')
        .dev-intro-box

          h5 Juan Herrera

          p 🙋‍♂️Hi, I'm Juan. A Software Developer from Miami. I consider myself a hard worker, easy to work with, a good communicator and an expert at handling information. I always had a passion for technology and learning, and that passion led me to a deep interest in Web Development. I always strive to see the big picture and I value attention to detail and professionalism.

          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Juan Herrera

      block content

  script(src='/static/js/script.js')